.download {
  background-color: #f8f9fa;
  /* width: 100vw; */
  position: relative;
}

.download-containers {
  width: 90%;
  margin: 0 auto;
}

.image-sections {
  margin: 3rem auto;
  width: 100%;
  /* Make the image section take 100% height of the container */
}

.image-sections > img {
  width: 100%;
  margin-right: 1rem;
}

.download .text-sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%; /* Make the text section take 100% height of the container */
}

.text-p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 4.2rem;
  text-align: center;
}
.span {
  color: var(--primary-blue);
  font-weight: 800;
}
/* image section from here */

.download .text-section-two {
  margin-left: 6rem;
}

.animated-text {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.app-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.icon-one,
.icon-two {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(13, 21, 21);
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.icon-one > :first-child,
.icon-two > :first-child {
  font-size: 20px;
}

.icon-p {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-span {
  font-size: 13px;
  font-weight: 600;
}

.icon-text {
  display: flex;
  flex-direction: column;
}

.app-icon {
  font-size: 15px;
}

.download-text {
  display: flex;
  flex-direction: column;
}
/* Media query for smaller screens */
@media (max-width: 976px) {
  .containers {
    grid-template-columns: 1fr; /* One column for smaller screens */
    margin: 1rem 3rem;
  }

  .download .text-sections,
  .download .image-sections {
    height: auto;
    /* Reset height for smaller screens */
  }

  .download .text-sections {
    margin-top: 1.5rem;
  }

  .download-text {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .text-p {
    font-size: 1.5rem;
    line-height: 3.2rem;
  }

  .icon-p {
    font-size: 12px;
  }

  .icon-span {
    font-size: 12px;
    font-weight: 600;
  }
}

/* Media query for larger screens */
@media (min-width: 601px) {
  .download .text-sections {
    max-width: 80%; /* Adjust the max-width as per your preference */
  }
}

@media (min-width: 980px) {
  .text-p {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .download-containers {
    padding: 90px 0;
  }

  .image-sections {
    position: absolute;
    height: fit-content;
    width: 65%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .download .download-text {
    width: 50%;
    z-index: 20;
  }
}

@media (min-width: 1200px) {
  .text-p {
    font-size: 2.4rem;
    line-height: 4.2rem;
  }

  .download-containers {
    padding: 120px 0;
  }
}
