.testimonial-head {
  text-align: center;
  margin-top: 12rem;
}

.testimonial-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: fit-content;
  margin: 60px auto;
  gap: 20px;
}

.grid-item {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  border-radius: 6px;
  border: 1px solid black;
}

.grid-item > p {
  font-size: 16px;
  line-height: 24px;
}

.grid-item > section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content > article {
  padding: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  width: 50px;
  aspect-ratio: 1;
  top: 142px;
  left: 30px;
  margin-right: 10px;
}

.content > article > p {
  margin: 2px 0;
}

.content > article > p:first-of-type {
  color: black;
  font-size: 16px;
  line-height: 16px;
}

.content > article > p:last-of-type {
  color: gray;
  font-size: 12px;
  line-height: 14px;
}

.content > span {
  display: flex;
  font-weight: 900;
  color: #61b2e4;
  position: absolute;
  right: 20px;
  font-size: 20px;
  text-shadow: 1px 1px 3px black;
}

@media screen and (min-width: 700px) {
  .testimonial-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }

  .testimonial-container > :nth-child(even) {
    margin-top: 50px;
  }

  .testimonial-container > :nth-child(odd) {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .grid-item {
    width: 400px;
  }
}
