.about {
  background-color: #f8f9fa;
  width: 100%;
  padding: 50px 0;
  margin-top: 20px;
}

.about-container {
  width: 90%;
  margin: 20px auto;
}

.about-container > .text-section > h2 {
  margin-bottom: 20px;
}

.about-container > .image-section {
  width: 100%;
  margin: 20px 0;
}

.about-container > .image-section > img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .about-container {
    width: 80%;
  }

  .about-container > .text-section > h2 {
    font-size: 35px;
  }

  .about-container > .text-section > p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    /* grid-template-columns: 1fr 1fr; */
  }

  .about-container > .text-section {
    flex-basis: 80%;
  }

  .about-container > .text-section > h2 {
    font-size: 30px;
  }

  .about-container > .text-section > p {
    font-size: 16px;
    line-height: 20px;
  }

  .about-container > .image-section {
    margin: unset;
    /* flex-basis: 150%; */
  }
}

@media screen and (min-width: 900px) {
  .about-container > .text-section {
    flex-basis: 100%;
  }

  .about-container > .text-section > h2 {
    font-size: 35px;
  }

  .about-container > .text-section > p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-container {
    margin-bottom: 50px;
  }

  .about-container > .text-section {
    flex-basis: 100%;
  }

  .about-container > .text-section > h2 {
    font-size: 45px;
  }

  .about-container > .text-section > p {
    font-size: 25px;
    line-height: 35px;
  }
}
