.hero {
  margin-top: 60px;
}

.hero-center {
  height: 90vh;
  position: relative;
}

.hero-center > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-center > h2 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 34px;
  line-height: 45px;
  max-width: 500px;
  color: var(--primary-white);
  text-shadow: 3px 3px 5px black;
}

@media screen and (min-width: 700px) {
  .hero {
    margin-top: 80px;
  }

  .hero-center {
    width: 90%;
    margin: 0 auto;
  }

  .hero-center > h2 {
    font-size: 45px;
    line-height: 60px;
    max-width: 650px;
    bottom: 40px;
  }
}

@media screen and (min-width: 1100px) {
  .hero-center > h2 {
    font-size: 64px;
    line-height: 75px;
    max-width: 800px;
    bottom: 50px;
  }
}
